.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    width: 300px;
    height: 600px;
    background-color: rgb(71, 63, 63);
    border-radius: 20px;
}
.color {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: brightness(0.50);
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.active {
    filter: brightness(2);
}
